# Terraform-specific files
**/.terraform/
*.tfstate
*.tfstate.*.backup
*.tfvars
crash.log
crash.*.log
.terraform.tfplan

# Crucial file, needs to be allowed for committing.
!**/.terraform.lock.hcl

.idea/
.vscode/
*.swp
*~
.DS_Store